:root{
	--mainColor:#262931;
	--secondaryColor:#313440;

	--borderColor:#000000;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#B9AE7E;
	--previewShadow:#111921;


	--buttonColor:#A479B6;


}